[mysql]
default-character-set=utf8mb4
safe-updates


[mysqld]
skip-host-cache
skip-name-resolve
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
#log-error	= /var/log/mysql/error.log
symbolic-links=0
character-set-server=utf8mb4
default-time_zone = '+8:00'


[mysqldump]
quick
quote-names
max_allowed_packet	= 16M


[mysqld_safe]
open-files-limit = 8192

[client]
default-character-set=utf8mb4